.more-cta {
  text-decoration: none;
}

mat-card-title {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
}

.rate {
  font-weight: bold;
  font-size: 12;
  padding-left: 8px;
}

.mat-card-img {
  width: 100%;
  margin: auto;
  min-height: 384px;
}

.card {
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;
  &:hover {
    border: 2px solid rgb(127, 197, 180);
  }
}
