.movie-Img {
  width: 100%;
}

.category-title {
  color: #777;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 36px;
}

.category-info {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 36px;
}

.display-1 {
  font-size: 2.75rem;
  line-height: 3rem;
  font-weight: 800;
}

.moviecast {
  text-decoration: none;
  font-size: 1.75rem;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin-right: 5px;
  line-height: 36px;

  &:hover {
    // text-decoration: underline;
    color: mediumspringgreen;

    &::after {
      color: black;
    }
  }

  &::after {
    content: ", ";
  }
}

.category-info:last-of-type .moviecast {
  &::after {
    content: ".";
  }
}
